body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  /*so that title text and headings don't compete with one another*/
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
}

/* Navigaton Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Download Buttons */
.butt {
  margin: 6% 3% 5% 0;
}

/* Title Image */
.title-image {
  position: absolute;
  width: 20%;
  transform: rotate(25deg);
  /* to rotate our image by following degrees*/
  left: 60%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-desc {
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-alignment {
  padding: 5%;
  text-align: center;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-img {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */
#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-col {
  margin-top: 5%;
  margin-bottom: 5%;
}

.strike {
  text-decoration: line-through;
}

/* MediaQueries */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title {
    text-align: center;
  }
}

/* CTA-SECTION */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  color: white;
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

.cta-btn {
  margin: 3% 1% 2%;
}

/* Footer Section */
#footer {
  backgorund-color: white;
  text-align: center;
  padding: 7% 15%;
}

.footer-butt {
  color: black;
  margin: 20px 10px;
}

.copyright {
  margin-top: 2%;
}
